@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Boldonse&display=swap');

.readbtn {
  background-color: none;
}

.circle-nav-btn:hover {
  transform: translateY();
  box-shadow: -2px 2px 12px 2px #ed232a;
  background: #ffffff;
  color: #ed232a;
  text-decoration: none;
}

.circle-nav-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ed232a;
  color: #fff;
  border: none;
  width: 60px;
  height: 60px;
  border-radius: 40px;
  box-shadow: -4px 0px 0 0px #fff;
  padding: 16px 20px;
  cursor: pointer;
  transition: transform 0.15s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.15s cubic-bezier(0.4, 0, 0.2, 1), background 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.circle-nav-btn.left {
  left: 0;
  font-size: 25px;
}

.circle-nav-btn.right {
  right: 0;
  font-size: 25px;

}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: rgb(0, 0, 0) !important;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  /* padding: 0;
  margin: 0; */
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Boldonse", system-ui !important;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  font-family: "Montserrat", sans-serif;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}