/* INDEX PAGE CSS */
.hero {
  height: 90vh;
}
.hero .hanging .yeehaimage {
  display: block;
  margin: 0 auto;
  transform-origin: top center;
  filter: drop-shadow(0 8px 8px rgba(0, 0, 0, 0.15));
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
}
.hero .hanging .characterimage {
  display: block;
  margin: 0 auto;
  transform-origin: top center;
  filter: drop-shadow(0 8px 8px rgba(0, 0, 0, 0.15));
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: -92%;
}

.about {
  padding: 200px 0 80px 0;
}
.about .rowss {
  display: flex;
  align-items: center;
  padding: 0 240px;
  gap: 50px;
}
.about .rowss .image {
  width: 90%;
}
.about .rowss .abtcnt {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.about .rowss .abtcnt h4 {
  font-family: "Montserrat", sans-serif !important;
  color: #fff;
  font-size: 1.7rem !important;
}

.slide-head {
  padding: 120px 0 80px 0;
}
.slide-head .special-head {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.slide-head .special-head h2 {
  color: #fff;
  font-family: "Boldonse", system-ui !important;
  font-size: 100px !important;
  text-align: center;
  font-weight: 500;
  margin: 0px 0px 50px;
}
.slide-head .special-head h5 {
  text-align: center;
  color: #fff;
  font-family: "Montserrat", sans-serif !important;
  font-size: 17px;
  padding: 0 110px;
  line-height: 26px;
}
.mySwiper {
  width: 100%;
  height: 400px;
}

.mySwiper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.video {
  padding: 10px 20px;
}

.watch-area {
  position: relative;
  padding: 120px 0 80px 0;
}
.watch-area .watch .first-video {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}
.watch-area .watch .first-video .video1 {
  width: 100%;
  height: 100%;
}
.watch-area .watch .first-video .video1 iframe {
  width: 100%;
  height: 400px;
}
.watch-area .watch .first-video .video2 {
  width: 70%;
}
.watch-area .watch .first-video .video2 iframe {
  width: 100%;
  height: 300px;
}
.watch-area .watch .second-video {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
}
.watch-area .watch .second-video .content {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.watch-area .watch .second-video .content h6 {
  color: #fff;
  font-size: 20px;
}
.watch-area .watch .second-video .content h2 {
  color: #fff;
  font-family: "Boldonse", system-ui !important;
  font-size: 50px;
}
.watch-area .watch .second-video .video3 {
  width: 100%;
}
.watch-area .watch .second-video .video3 iframe {
  width: 100%;
  height: 400px;
}

.video-slider {
  padding: 200PX 0 80PX;
}

.motion-graphics {
  padding: 120PX 0 80PX 0;
}
.motion-graphics .motion-graphics-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.motion-graphics .motion-graphics-content h5 {
  color: #fff;
  font-size: small;
}
.motion-graphics .motion-graphics-content h2 {
  padding: 20px 0;
  color: #fff;
  font-family: "Boldonse", system-ui !important;
  font-size: 50px;
}
.businessArea {
  padding: 120px 0 80px 0;
}
.businessArea .business-list .heading h2 {
  color: #fff;
  font-size: 3.1rem;
  font-weight: 700;
  line-height: 82px;
}
.businessArea .business-list .heading .listp {
  color: #fff;
}
.businessArea .buscol .businessHead h5 {
  color: #ed232a;
  font-size: 1.1rem;
  font-weight: lighter;
  font-family: "Montserrat", sans-serif !important;
}
.businessArea .buscol .businessHead .listcontent {
  color: #fff;
}

.test {
  padding: 120px 0 80px;
}
.test .diff {
  color: #fff;
  text-align: center;
}
.test .all {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 40px 60px;
  gap: 30px;
}
.test .all .each {
  border: 2px dotted #5f5f5f;
  height: 230px;
  padding: 15px 20px;
  border-radius: 12px;
}
.test .all .each .h5 {
  color: #ed232a;
  font-size: 1.1rem;
  font-weight: lighter;
  font-family: Montserrat, sans-serif !important;
}
.test .all .each p {
  color: #cac7c7;
  align-items: left;
}

.client-section {
  padding: 120px 0 80px 0;
}
.client-section .client-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.client-section .client-content h5 {
  color: #fff;
  font-size: 1.1rem;
}
.client-section .client-content h2 {
  color: #fff;
  font-family: "Boldonse", system-ui !important;
  font-size: 50px;
  padding: 20px 0;
}/*# sourceMappingURL=index.module.css.map */