.shape {
        position: absolute;
        top: -50%;
        right: 0;
        bottom: 0;
        z-index: -1;
        opacity: .47;

        img {
            width: 100%;
            height: auto;
            opacity: 0.5;
        }
    }