.service-main-area {

    .service-box {
        display: flex;
        justify-content: center;
        align-items: center;

        .image {
            .comicImg {
                width: 100%;
               
            }
        }

        .content {
            h4 {
                line-height: 50px;
                color: #fff;

            }

            p {
                color: #b1b1b1;
                text-align: justify;
                font-size: 16px;
            }
        }
    }
}