.service-main-area {
  .serviceBox {
    display: flex;
    justify-content: center;
    align-items: center;

    .image {
      .comicImg {
        width: 100%;
        height: 50vh;
        object-fit: contain;
      }
    }

    .content {
      h4 {
        line-height: 40px;
        color: #fff;
        font-size: 1.54rem !important;
      }

      p {
        color: #b1b1b1;
        text-align: justify;
        letter-spacing: normal;
        font-size: 16px;
        font-family: Montserrat, sans-serif !important;
      }
    }
  }
}

// animated description section

.animatedDes {
  padding: 150px 0 80px 0;
  .allDes {
    padding: 0 100px;

    h2 {
      color: #fff;
      font-family: Boldonse, system-ui !important;
      text-align: center;
      font-size: 4rem;
      font-weight: 400;
      line-height: 95px;
      // padding: 0 100px;

      .colordText {
        color: #ed2124;
      }
    }
    .aniContent {
      padding-top: 30px;

      p {
        font-family: Montserrat, sans-serif !important;
        color: #fff9f9;
        text-align: center;
      }
    }
  }
}
