.ServiceImage {
  padding: 150px 0 80px 0;
  h2 {
    color: #fff;
    text-align: center;
  }
  .serMain {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .servicepage {
    padding-top: 20px;

    .serviceimageCover {
      position: relative;
      overflow: hidden;
    }
    .image {
      background: #fff;
      width: 100%;
      transition: all 0.3s ease-in-out;
    }
    .serviceimageCover:hover {
      .image {
        background-color: #fff;
        opacity: 0.69;
        transform: scale(1.1);

        .list {
          transform: translate(-50%, -50%);
        }
      }
    }
    .list {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 12px;
      position: absolute;
      transform: translate(-200%, -50%);
      left: 50%;
      top: 50%;
      transition: transform 0.3s ease-in-out;

      .listItem {
        background: #fff;
        padding: 10px;
        h5 {
          font-size: 14px !important;
        }
      }
    }

    h6 {
      padding-top: 15px;
      color: rgb(255, 255, 255);
      margin: auto;
    }
  }
}
